$fontSize: 1.5rem;
$fontSizeDescription: 1rem;
$grey: #d2cbcb;
$black: #090808;
$white: #fff;
$red: #eb1d1d;
$blue: #001049;
$green: #0eb94a;
$appHeight: 87vh;
$borderRadius: 0.5rem;

// Fonts
$smallFont: 1rem;
$mediumFont: 2rem;

// breakpoints
$medium-breakpoint: 940px;
$small-breakpoint: 640px;